.about-container{
    background-color:#D9D9D9;
}
.Abouts{
    display:flex;
    flex-direction:row;
    column-gap: 25px;
    padding: 2%;
}
.as-title{
    color:#C92424;
    font-size: 60px;
    margin: auto;
}
.as-text{
    font-size:30px;
    margin:auto;
    width:fit-content;
    text-align: justify;
}
.as-imageOfAbout{
    border-radius:10px;
    display:block;
    margin-top: 2%;
}
.as-button{
    background-color: #C92424;
    border-color: #C92424;
    color:white;
    width:292.5px;
    height:53.53px;
    font-size: 28px;
    border-radius: 10px;
    margin: 0px;
    cursor: pointer;
}
@media (max-width: 766px) {
    .as-imageOfAbout{
        border-radius:10px;
        display:none;
    }
    .as-title{
        color:#C92424;
        font-size: 40px;
        margin: auto;
        text-align: center;
    }
    .as-text{
        font-size:24px;
        margin:auto;
        text-align: center;
        width: 350px;
    }
    .as-button{
        background-color: #C92424;
        border-color: #C92424;
        color:white;
        width:292.5px;
        height:53.53px;
        font-size: 28px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 50px;
    }
   }
   