.cr-third{
    margin-top: 20px;
}
.last-one-in-cars{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.the-tbody-cars {
    overflow-y: auto;
    height: 400px;
  }
.cr-third-main{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.cr-third-div-table{
    width:98%;
    background-color: white;
    border-radius:5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    height: 400px;
}
.cr-third-table{
    width: 100%;
    font-size: 24px;
}
.cr-third-tableee{
    width: 100%;
    font-size: 24px;
    overflow-y: scroll;
    height: 400px;
}
.cr-third-table thead{
    background-color: #DFDFDF;
}
.cr-third-table-th{
    border-color: #DFDFDF;
}
.cr-third-table td {
    text-align: center;
}
.cr-addpopup{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: white;
 border: 1px solid black;
 padding: 20px;
 box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
 border-radius: 10px;
}
.cr-addpopup-head{
    display: flex;
    flex-direction: row;
    column-gap: 500px;
}
.cr-addpopup-close{
    cursor: pointer;
    font-size: 30px;
}
.cr-addpopup-closee{
    cursor: pointer;
    font-size: 30px;
    margin-left: 150px;
}
.cr-addcar-button{
    cursor: pointer;
    border-radius: 10px;
    background: #C92424;
    border-color: #C92424;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
}
.cr-addcar-buttonn{
    cursor: pointer;
    border-radius: 10px;
    background: #C92424;
    border-color: #C92424;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 4px;
}
.cr-addpopup-first{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cr-addpopup-first textarea{
    background-color: #DFDFDF;
    border-radius: 8px;
    border: 0px;
    width: 830px;
}
.cr-addpopup-first input {
    background-color: #DFDFDF;
    border-radius: 8px;
    border: 0px;
}
.cr-horizontal-line{
    color:#C92424;
    background-color: #C92424;
    border-color: #C92424;
    height: 1.5px;
}
.crMn-carUpdate{
    width:40px;
    height:40px;
}
.crMn-carDelete{
    width:45px;
    height:45px;
}
.cr-deletepopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
   }
   .cr-deletepopup-head{
       display: flex;
       flex-direction: row;
       column-gap: 80px;
   }
   .cr-deletepopup-head h2{
    font-size: 25px;
   }
   .cr-deletepopup-close{
       cursor: pointer;
       font-size: 30px;
   }
   .yesNoButtons{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
   }
   .cr-nodelete{
    border-radius: 5px;
    color: #C92424;
    border-color: #C92424;
    padding: 5px;
   }
   .cr-yesDelete{
    border-radius: 5px;
    background-color: #C92424;
    border-color: #C92424;
    padding: 5px;
    color: white;
   }