.cart-b-div{
    background: linear-gradient(181deg, #B5B5B5 -49.89%, #D9D9D9 108.24%);
    height: 99vh;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
.cart-head{
    display: flex;
    align-items: center;
    height: 12%;
    padding: 1%;
    gap: 71%;
}
.cart-head-title{
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
}
.cart-head-button {
 align-self: flex-end;
}
.cart-head-button button{
    border-radius: 10px;
    background: #C92424;
    color: #FFF;
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 52px;
}
.my-cart-div{
padding-left: 1%;
color: #FFF;
font-family: Poppins;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.cart-product{
width: 95%;
display: flex;
flex-direction: column;
padding-left: 1%;
}
.white-tr-td{
color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
border-bottom: 1px solid #555353;
width: 30%;
}
.cart-details-order img{
 width: 70%;
}
.cart-details-order{
    width: 30%;
    border-bottom: 1px solid #555353;
}
.cart-carName{
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.cart-car-details{
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.cart-car-details-qty span:hover{
cursor: pointer;
}
.cart-car-details-qty{
color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}