.car-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:50px;
   }
.in-itt img{
    width: 160px;
    height: 160px;
    align-items: right;
}
.in-it{border-radius: 13px ;
    background-color: white;
padding: 20px;
padding-left: 50px;}

.in-itt{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-left: 20px;
}