.car-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:20px;
    column-gap: 60px;
    margin-top:20px;
    margin-right: 20px;
   }
.in-itt img{
    width: 140px;
    height: 91px;
    align-items: right;
}
.in-it{border-radius: 13px ;
    background-color: white;
padding: 20px;
padding-left: 40px;}

.in-itt{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-left: 20px;
}
.ds-the-red{
    color: red;
    font-weight: 800;
    font-size: 24px;
}
.in-it-down-one{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    font-weight: 800;
    align-items: center;
    padding-left: 100px;
}
.in-it-mashtoube{
    text-decoration: line-through;
    text-decoration-color: red;
    margin-bottom: -23px;
    font-weight: 800;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    column-gap: 50px;
   }
   
   .pagination-item {
    margin: 0 5px;
    cursor: pointer;
   }
   .pagination-item :hover {
    margin: 0 5px;
    cursor: pointer;
    border: red;
   }
   
   .pagination-item.disabled {
    color: #ccc;
    cursor: not-allowed;
   }
   
   .pagination-item.active {
    font-weight: bold;
   }

   
   .activePageNumber {
    font-weight: 800;
    border-radius: 20%;
    color: red;
   }
   
   