.or-third-table{
    width: 100%;
    font-size: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.or-third-table thead{
    background-color: #DFDFDF;
}
.or-third-table-th{
    border-color: #DFDFDF;
}
.or-third-table td {
    text-align: center;
}
.or-div-table{
    background-color: white;
}
