.profile{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    background-color:#C92424;
    color: white;
    font-size: 17px;
    font-weight: 500;
    float: right;
    padding: 10px;
    position: absolute;
    right: 1%;
    border-radius: 10px;
}
.profile p{
    text-align: center;
}

.profile-container label{
   position: absolute;
   left: 10%;
}
.profile-container input{
   margin-left: 51%;
   height: 30px;
   width: 180px;
   border-radius: 10px;
   border: none;
   padding: 5px;
 }
.profile-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.profile-buttons button{
    padding: 7px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    width: 70px;
}
.profile-buttons button:hover{
    cursor: pointer;
    scale: 1.1;
}